/*fuentes y formatos*/
*
	font-family: "Oswald"

.w-100
	width: 100% 

.w-70
	width: 70%

.text-orange
	color: $orange

.fs-1
	font-size: 1em !important
	font-family: "Helvetica"
	font-weight: normal !important

.fs-3
	font-size: 3em !important
	padding-right: 2% !important
	padding-top: 2% !important

/*Margenes y paddings*/ 
.mt_3
	margin-top: -4em

.mt_3_
	margin-top: -3em

.mt-3
	margin-top: 3em

.mt-5
	margin-top: 5%

.mt-3
	margin-top: 3%

.mr-3
	margin-right: 3%

.mb-5
	margin-bottom: 5%

.ml-2
	margin-left: 1em

.ml-3
	margin-left: -3em

.mt-12
	margin-top: 12em !important

.mt-13
	margin-top: 13.5em !important

blockquote
	border-left: 1em solid $orange !important

.uppercase
	text-transform: uppercase